.experience {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  height: 30vh;
  margin-bottom: 8rem;
}

.achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 4rem;
  height: 4rem;
  background: #e9ebef;
  position: relative;
  display: flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.circle::before {
  border-radius: 100%;
  content: "";
  background-image: linear-gradient(to bottom, #d7b8b8 0%, #ff5c5c 100%);
  position: absolute;
  z-index: -1;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  box-shadow: var(--boxShadow);
}

.achievement span:nth-child(3) {
  color: var(--red);
  font-size: 20px;
  font-weight: bold;
}

.achievement span:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
}
