@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;700&display=swap");
/* #eb1010  wave */
/* #ff0000  thumbup */

:root {
  --yellow: #a12cf5;
  --red: #ab1ffc;
  --black: rgb(37, 24, 24);
  --gray: #788097;
  --blueCard: #ddf8fe;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --redCard: rgba(219, 31, 252, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
}

* {
  font-family: "Epilogue";
  font-weight: normal;
  font-size: 20px;
}

body {
  margin: 0;
}

.button {
  border: none;
  outline: none;
  padding: 18px 26px 18px 26px;
  border-radius: 34px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(180deg, #a12cf5 26.71%, #ab1ffc 99.36%);
  box-shadow: 0px 15px 15px 3px rgba(244, 40, 251, 0.42);
}

.button:hover {
  background: #fff;
  color: var(--red);
  cursor: pointer;
  border: 1px solid var(--red);
}

