.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.n-left {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 2rem;
}

.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.n-right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.n-list {
  flex: 10;
}

.n-list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
  list-style: none;
}

.n-list > ul > *:hover {
  cursor: pointer;
  color: var(--red);
}

.n-button {
  flex: 2;
}

.n-button:hover {
  background: #fff !important;
  color: var(--red) !important;
  cursor: pointer !important;
  border: 1px solid var(--red) !important;
}
